<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>

<body style="background: url('https://lh3.googleusercontent.com/A8lTIiYoTJGKlKx9jJ7-D04M-4_77-0l5rT0gsrfjQcWDeQaJy5HRRJ7k67WXWV9FbiC=w518-h418-p-no')no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  <div class="container">
    <h1 style="height: 50px; color: white;">Welcome to the Task Manager</h1>
    <div class='col-md-12 navbar navbar-default navbar-static-top'>

      <ul class="nav navbar-nav">
        <li><a href="/tasks">Task Index</a></li>
        <li><a href="/tasks/new">New Task</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
