<body style="background: url('https://lh3.googleusercontent.com/yZcBN5670jCvyp4Xe8BZsLHErKiVtZ2vOzWxepvPU8a9afAEpCFYtOzlu_zGYf2tOlgP=w464-h458-p-no')no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  <div class='col-md-12 navbar navbar-default navbar-static-top'>
    <a href='/' class='navbar-brand'>Task Manager</a>
    <ul class='nav navbar-nav'>
      <li><a href = "/tasks">Task Index</a></li>
    </ul>
  </div>

<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <h3 style="color: white;">Update Your Task:</h3>
  <input type='text' name='task[title]' value='<%= @task.title %>'/><br/>
  <textarea name='task[description]'><%= @task.description %></textarea><br/>
  <input type='submit' value='submit' class="btn-primary">
</form>
</body>
