<body style="background: url('https://lh3.googleusercontent.com/yZcBN5670jCvyp4Xe8BZsLHErKiVtZ2vOzWxepvPU8a9afAEpCFYtOzlu_zGYf2tOlgP=w464-h458-p-no')no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  <div class='col-md-12 navbar navbar-default navbar-static-top'>
    <a href='/' class='navbar-brand'>Task Manager</a>
    <ul class='nav navbar-nav'>
      <li><a href = "/tasks">Task Index</a></li>
    </ul>
  </div>

<form action="/tasks" method="post">
  <h3 style="color: white">Enter a new task:</h3>
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input value="submit" type='submit'/ class="btn btn-primary button_space">
</form>
</body>
