<a href="/tasks">Task Index</a>

<h1><%= @task.title %></h1>

<p><%= @task.description %></p>

<style>
  a:hover {
    font-weight: bold;
  }

  body {
    background-color: #e0e0eb;
    /*background-image: url("https://plus.google.com/u/0/photos/115492633106293884993/albums/5963732397473350145/5963732485765919186?pid=5963732485765919186&oid=115492633106293884993");*/
  }

  ul {
    text-align: center;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
    color: brown;
  }
</style>
