<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body style="background-color: #d9d9d9;">
  <div class="col-md-12 navbar navbar-default navbar-static-top">
    <a href="/tasks" class="navbar-brand">Task Index</a>
    <ul class='nav navbar-nav'>
      <li><a href = "/tasks/new">new</a></li>
    </ul>
  </div>
  <div class="container">
    <h1><%= @task.title %></h1>

    <p><%= @task.description %></p>
    <div class="col-md-12" style="background: url('https://lh3.googleusercontent.com/yZcBN5670jCvyp4Xe8BZsLHErKiVtZ2vOzWxepvPU8a9afAEpCFYtOzlu_zGYf2tOlgP=w464-h458-p-no'); width: 500px; height: 450px;">
    </div>
  </div>
</body>
